#barra-preta{
    background-color: var(--escuro);
    height: 100px;
    width: 88%;
    
}

/*==============IPAD PRO=============*/
@media (max-width:1300px) {  
    #barra-preta{
        width: 100%;
    }
}
/*===================================*/



/*=============IPAD=============*/
@media (max-width:768px) {
    #barra-preta{
        height: 80px;
    }
}
/*===================================*/



/*================CELULAR===============*/
@media (max-width: 450px){
    #barra-preta{
        width: 100%;
    }
    
}
/*===================================*/



/*===========MINI-CELULAR=============*/
@media (max-width: 390px){
}
/*===================================*/
