#barra-preta{
    background-color: var(--escuro);
    height: 100px;
    width: 88%;
    
}

/*==============CELULAR=============*/
@media (max-width: 400px){
    #barra-preta{
        width: 100%;
    }
    
}
/*===================================*/



/*=============IPAD PRO=============*/
@media (max-width:1024px) {
    
    #barra-preta{
        width: 100%;
    }

}
/*===================================*/



/*================IPAD===============*/
@media (max-width:768px) {
    #barra-preta{
        height: 80px;
    }
}
/*===================================*/