@import url(../css/header.css);
@import url(../css/conteudo.css);
@import url(../css/footer.css);

/*--------------------------- reset de configurações------------------------------- */
:root{
    --marrom:rgb(152, 123, 93);
    --escuro:black;
    --claro:white;
    --cinza:rgb(235, 235, 235);
    --marrom_avermelhado:brown;
    --terra:wheat;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--------------------------------------------------------------------------------- */

